In [1]:
import pandas as pd
# import required modules
import zipfile
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error, r2_score

import polars as pl
from sklearn.model_selection import train_test_split
from data_shaping import build_dataset
from model import build_feature_df, import_pipeline

oecd_csv = ('data/final/oecd.csv')
acled_csv = ('data/final/acled.csv')
data_csv = ('data/final/data.csv')
model_pkl = ('random_forest.pkl')

data = build_dataset(oecd_csv, acled_csv, data_csv, read_data_csv=False)
X = data.drop(['iso', 'year_month', 'incidents'])
y = data['incidents']
X_train, X_test, y_train, y_test = train_test_split(X, y)
pipe = import_pipeline(X_train, y_train, model_pkl)
coeffs = build_feature_df(pipe)
if isinstance(coeffs, pl.DataFrame):
    coeffs.plot.bar(x='feature', y='importance')

ModuleNotFoundError: No module named 'data_shaping'

In [3]:
#file Path
fuel_filepath='C:/Users/sheeh/Documents/ddimil/projects/Final_Project/Real_final/civil-unrest-correlation-analysis/src/civil_unrest_correlation_analysis/data/Global_Fuel_Prices_Database.zip'

In [4]:
import zipfile

# Display all of the files within the zipfile 

with zipfile.ZipFile(fuel_filepath) as z:
    print(z.namelist())

['Global_Fuel_Prices_Database.xlsx']

In [5]:

with zipfile.ZipFile(fuel_filepath) as z:
    with z.open('Global_Fuel_Prices_Database.xlsx') as f:
        df_fuelprices = pd.read_excel(f)

print(df_fuelprices.head())

                    Unnamed: 0 Unnamed: 1
0                          NaN        NaN
1                          NaN        NaN
2                          NaN        NaN
3                          NaN        NaN
4  Global Fuel Prices Database        NaN

In [6]:
# Need to open up individual sheets MOVING ON

In [7]:
global_food_prices_filepath="C:/Users/sheeh/Documents/ddimil/projects/Final_Project/Real_final/civil-unrest-correlation-analysis/src/civil_unrest_correlation_analysis/data/wfp_food_prices_global_2025.zip"

In [ ]:

dfs = []
file_list = []


with zipfile.ZipFile(global_food_prices_filepath) as z:
    file_list = z.namelist()

with zipfile.ZipFile(global_food_prices_filepath) as z:
    for file in file_list:
        with z.open(file) as f:
            df_foodprices = pd.read_csv(f)
            dfs.append(df_foodprices)

combined_df = pd.concat(dfs, ignore_index=True)

C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)
C:\Users\sheeh\AppData\Local\Temp\ipykernel_29436\1609086001.py:11: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_foodprices = pd.read_csv(f)

In [9]:
combined_df.head()

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,#country+code,#date,#adm1+name,#adm2+name,#loc+market+name,#loc+market+code,#geo+lat,#geo+lon,#item+type,#item+name,#item+code,#item+unit,#item+price+flag,#item+price+type,#currency+code,#value,#value+usd
1,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Bread,55,KG,aggregate,Retail,AFN,77,1.05
2,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (high quality),247,KG,aggregate,Retail,AFN,88.54,1.21
3,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (low quality),145,KG,aggregate,Retail,AFN,55,0.75
4,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Wheat,84,KG,aggregate,Retail,AFN,23.19,0.32

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2206879 entries, 0 to 2206878
Data columns (total 17 columns):
 #   Column        Dtype
---  ------        -----
 0   countryiso3   object
 1   date          object
 2   admin1        object
 3   admin2        object
 4   market        object
 5   market_id     object
 6   latitude      object
 7   longitude     object
 8   category      object
 9   commodity     object
 10  commodity_id  object
 11  unit          object
 12  priceflag     object
 13  pricetype     object
 14  currency      object
 15  price         object
 16  usdprice      object
dtypes: object(17)
memory usage: 286.2+ MB

In [11]:
foodprices_keep_columns = combined_df[["countryiso3", "date", "category", "commodity", "usdprice"]]

In [12]:
foodprices_keep_columns.head(10)

,countryiso3,date,category,commodity,usdprice
0,#country+code,#date,#item+type,#item+name,#value+usd
1,AFG,2025-01-15,cereals and tubers,Bread,1.05
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41
6,AFG,2025-01-15,cereals and tubers,Wheat flour (low quality),0.35
7,AFG,2025-01-15,miscellaneous food,Salt,0.34
8,AFG,2025-01-15,miscellaneous food,Sugar,0.92
9,AFG,2025-01-15,non-food,Exchange rate,1.01

In [13]:
foodprices_remove_admin=foodprices_keep_columns.drop(index=[0])

In [14]:
foodprices_remove_admin.head(10)

,countryiso3,date,category,commodity,usdprice
1,AFG,2025-01-15,cereals and tubers,Bread,1.05
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41
6,AFG,2025-01-15,cereals and tubers,Wheat flour (low quality),0.35
7,AFG,2025-01-15,miscellaneous food,Salt,0.34
8,AFG,2025-01-15,miscellaneous food,Sugar,0.92
9,AFG,2025-01-15,non-food,Exchange rate,1.01
10,AFG,2025-01-15,non-food,"Wage (non-qualified labour, non-agricultural)",4.09

In [15]:
foodprices_remove_admin.describe(include='all')

       countryiso3        date            category commodity    usdprice
count      2206878     2206878             2206878   2206878  2204017.00
unique          97         133                   9       852    30203.00
top            IDN  2021-03-15  cereals and tubers     Sugar        0.49
freq        170272       31381              679776     53233    11688.00

In [16]:
foodprices_remove_admin.groupby('date').count()

            countryiso3  category  commodity  usdprice
date
#date                10        10         10        10
2014-01-15         7095      7095       7095      7095
2014-02-15         6924      6924       6924      6910
2014-03-15         7206      7206       7206      7191
2014-04-15         6712      6712       6712      6700
...                 ...       ...        ...       ...
2025-08-15        18312     18312      18312     18215
2025-09-15        14765     14765      14765     14684
2025-10-15         9172      9172       9172      9078
2025-11-15         3250      3250       3250      3152
2025-12-15          412       412        412       412

[133 rows x 4 columns]

In [17]:
unique_countries = foodprices_keep_columns['countryiso3'].unique()

In [18]:
unique_countries

array(['#country+code', 'AFG', 'ARM', 'BDI', 'BFA', 'BGD', 'BOL', 'CAF',
       'CIV', 'CMR', 'COD', 'COG', 'DJI', 'DOM', 'DZA', 'ECU', 'EGY',
       'ETH', 'GIN', 'GNB', 'HTI', 'IND', 'IRN', 'IRQ', 'JOR', 'KEN',
       'KGZ', 'KHM', 'LAO', 'LBN', 'LBR', 'LBY', 'LKA', 'LSO', 'MDA',
       'MLI', 'MMR', 'MOZ', 'MRT', 'MWI', 'NER', 'NGA', 'NPL', 'PAK',
       'PHL', 'PSE', 'RWA', 'SDN', 'SEN', 'SLE', 'SOM', 'SSD', 'SWZ',
       'SYR', 'TJK', 'TLS', 'TUR', 'TZA', 'UGA', 'UKR', 'VEN', 'YEM',
       'ZMB', 'ZWE', 'AGO', 'ARG', 'BEN', 'BLR', 'BTN', 'CHN', 'COL',
       'CPV', 'CRI', 'GAB', 'GHA', 'GMB', 'GTM', 'HND', 'IDN', 'JPN',
       'KAZ', 'MDG', 'MEX', 'MNG', 'NAM', 'NIC', 'PAN', 'PER', 'PRY',
       'RUS', 'SLV', 'TCD', 'TGO', 'THA', 'VNM', 'ZAF', 'FJI'],
      dtype=object)

In [19]:
foodprices_remove_admin.isna().sum()

countryiso3       0
date              0
category          0
commodity         0
usdprice       2861
dtype: int64

In [20]:
#foodprices_remove_admin['usdprice'] = pd.to_numeric(foodprices_remove_admin['usdprice'], errors='coerce')

In [21]:
foodprices_remove_admin.head()

,countryiso3,date,category,commodity,usdprice
1,AFG,2025-01-15,cereals and tubers,Bread,1.05
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41

In [22]:
foodprices_remove_admin.describe()

       countryiso3        date            category commodity    usdprice
count      2206878     2206878             2206878   2206878  2204017.00
unique          97         133                   9       852    30203.00
top            IDN  2021-03-15  cereals and tubers     Sugar        0.49
freq        170272       31381              679776     53233    11688.00

In [23]:
foodprices_remove_admin['date'] = pd.to_datetime(foodprices_remove_admin['date'], errors='coerce')

In [ ]:
result = foodprices_remove_admin.isin(['#value+usd'])
trators_location = np.where(result)

rows_to_drop = list(set(trators_location[0]))

foodprices_dropped_string = foodprices_remove_admin.drop(index=rows_to_drop)

In [37]:
foodprices_dropped_string.head(10)

,countryiso3,date,category,commodity,usdprice,year,month,day
1,AFG,2025-01-15,cereals and tubers,Bread,1.05,2025.0,1.0,15.0
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21,2025.0,1.0,15.0
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75,2025.0,1.0,15.0
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32,2025.0,1.0,15.0
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41,2025.0,1.0,15.0
6,AFG,2025-01-15,cereals and tubers,Wheat flour (low quality),0.35,2025.0,1.0,15.0
7,AFG,2025-01-15,miscellaneous food,Salt,0.34,2025.0,1.0,15.0
8,AFG,2025-01-15,miscellaneous food,Sugar,0.92,2025.0,1.0,15.0
9,AFG,2025-01-15,non-food,Exchange rate,1.01,2025.0,1.0,15.0
10,AFG,2025-01-15,non-food,"Wage (non-qualified labour, non-agricultural)",4.09,2025.0,1.0,15.0

In [33]:
print(trators_location)

(array([ 186813,  270203,  363162,  467494,  586961,  716729,  870402,
       1170685, 1522589, 1867854]), array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4]))

In [38]:
foodprices_dropped_string['year'] = foodprices_dropped_string['date'].dt.year
foodprices_dropped_string['month'] = foodprices_dropped_string['date'].dt.month
foodprices_dropped_string['day'] = foodprices_dropped_string['date'].dt.day

In [39]:
foodprices_dropped_string.head(10)

,countryiso3,date,category,commodity,usdprice,year,month,day
1,AFG,2025-01-15,cereals and tubers,Bread,1.05,2025.0,1.0,15.0
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21,2025.0,1.0,15.0
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75,2025.0,1.0,15.0
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32,2025.0,1.0,15.0
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41,2025.0,1.0,15.0
6,AFG,2025-01-15,cereals and tubers,Wheat flour (low quality),0.35,2025.0,1.0,15.0
7,AFG,2025-01-15,miscellaneous food,Salt,0.34,2025.0,1.0,15.0
8,AFG,2025-01-15,miscellaneous food,Sugar,0.92,2025.0,1.0,15.0
9,AFG,2025-01-15,non-food,Exchange rate,1.01,2025.0,1.0,15.0
10,AFG,2025-01-15,non-food,"Wage (non-qualified labour, non-agricultural)",4.09,2025.0,1.0,15.0

In [40]:
foodprices_dropped_string.drop(columns='day')

,countryiso3,date,category,commodity,usdprice,year,month
1,AFG,2025-01-15,cereals and tubers,Bread,1.05,2025.0,1.0
2,AFG,2025-01-15,cereals and tubers,Rice (high quality),1.21,2025.0,1.0
3,AFG,2025-01-15,cereals and tubers,Rice (low quality),0.75,2025.0,1.0
4,AFG,2025-01-15,cereals and tubers,Wheat,0.32,2025.0,1.0
5,AFG,2025-01-15,cereals and tubers,Wheat flour (high quality),0.41,2025.0,1.0
...,...,...,...,...,...,...,...
2206874,ZWE,2023-12-15,miscellaneous food,Sugar,0.094,2023.0,12.0
2206875,ZWE,2023-12-15,non-food,Handwash soap,0.026,2023.0,12.0
2206876,ZWE,2023-12-15,non-food,Laundry soap,0.12,2023.0,12.0
2206877,ZWE,2023-12-15,non-food,Toothpaste,0.077,2023.0,12.0
2206878,ZWE,2023-12-15,oil and fats,Oil (vegetable),0.13,2023.0,12.0

In [43]:
foodprices_dropped_string['usdprice'] = pd.to_numeric(foodprices_dropped_string['usdprice'], errors='coerce')

In [50]:
foodprices_dropped_string.isnull().sum()

countryiso3       0
date             10
category          0
commodity         0
usdprice       2871
year             10
month            10
dtype: int64

In [47]:
foodprices_dropped_string.drop(columns="day", inplace=True)

In [48]:
foodprices_dropped_string.describe()

                                date      usdprice          year         month
count                        2206858  2.203997e+06  2.206858e+06  2.206858e+06
mean   2020-11-15 21:27:02.257527040  7.861793e+00  2.020380e+03  6.496092e+00
min              2014-01-15 00:00:00  2.700000e-11  2.014000e+03  1.000000e+00
25%              2019-02-15 00:00:00  5.800000e-01  2.019000e+03  4.000000e+00
50%              2021-04-15 00:00:00  1.090000e+00  2.021000e+03  7.000000e+00
75%              2022-12-15 00:00:00  2.480000e+00  2.022000e+03  9.000000e+00
max              2025-12-15 00:00:00  2.905983e+04  2.025000e+03  1.200000e+01
std                              NaN  9.660398e+01  2.846260e+00  3.412430e+00

In [51]:
foodprices_cleaned= foodprices_dropped_string.dropna()

In [55]:
foodprices_cleaned.describe()

                                date      usdprice          year         month
count                        2203997  2.203997e+06  2.203997e+06  2.203997e+06
mean   2020-11-15 06:48:23.724097792  7.861793e+00  2.020379e+03  6.495541e+00
min              2014-01-15 00:00:00  2.700000e-11  2.014000e+03  1.000000e+00
25%              2019-02-15 00:00:00  5.800000e-01  2.019000e+03  4.000000e+00
50%              2021-04-15 00:00:00  1.090000e+00  2.021000e+03  7.000000e+00
75%              2022-12-15 00:00:00  2.480000e+00  2.022000e+03  9.000000e+00
max              2025-12-15 00:00:00  2.905983e+04  2.025000e+03  1.200000e+01
std                              NaN  9.660398e+01  2.844995e+00  3.412626e+00

In [57]:
foodprices_cleaned.to_csv('Global_food_prices_cleaned.csv', index=False)

In [8]:
filepath =("C:/Users/sheeh/Documents/ddimil/projects/Final_Project/Real_final/civil-unrest-correlation-analysis/src/civil_unrest_correlation_analysis/data/ntl_adm2_monthly_all.csv.zip")
df_name = ("ntl")
dfs = []
file_list = []


with zipfile.ZipFile(filepath) as z:
    file_list = z.namelist()

with zipfile.ZipFile(filepath) as z:
    for file in file_list:
        with z.open(file) as f:
            df_name = pd.read_csv(f)
            dfs.append(df_name)

combined_df = pd.concat(dfs, ignore_index=True)